<!DOCTYPE html>
<html>

<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="/dashboard.css">
</head>

<body>
  <nav class="top-nav">
    <a href="/dashboard">Dashboard</a>
    <a href="/add">Add New Anime</a>
    <a href="/watchlist">My Watchlist</a>
    <a href="/logout">Logout</a>
  </nav>

  <h2>Welcome, <%= username %> 👋</h2>

  <div class="anime-grid">
    <% animes.forEach(anime=> { %>
      <div class="anime-card-wrapper">
        <a href="/anime/<%= encodeURIComponent(anime.title) %>" class="anime-link">
          <div class="anime-card">
            <img src="/assets/anime_images/<%= anime.image%>"
              onerror="this.onerror=null; this.src='/assets/anime_images/default.png';" alt="<%= anime.title %>">
            <h3>
              <%= anime.title %>
            </h3>
          </div>
        </a>

        <div class="card-buttons">
          <% if (!anime.forDashboard || anime.isDefault) { %>
            <form method="POST" action="/add-to-watchlist/<%= anime._id %>">
              <button type="submit" class="watchlist-btn">Add to My Watchlist</button>
            </form>
            <% } %>

              <% if (anime.forDashboard && !anime.isDefault) { %>
                <form method="POST" action="/delete/<%= anime._id %>">
                  <button type="submit" class="watchlist-btn">Delete</button>
                </form>
                <% } %>
        </div>
      </div>
      <% }) %>
  </div>
</body>

</html>